* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #2c3e50;
    text-align: center;
    color: #fff;
}

div {
    display: inline-block;
}

.buttonGood {
    width: 45%;
    height: 35px;
    color: #fff;
    font-size: 12pt;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-color: #2ecc71;
    border: 0;
    border-radius: 2px;
    float: left;
}

.buttonBad {
    width: 45%;
    height: 35px;
    color: #fff;
    font-size: 12pt;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-color: #c0392b;
    border: 0;
    border-radius: 2px;
    float: right;
}


.divCounterLeft {
    width: 48%;
}

.divCounterRight {
    width: 48%;
}

.divSideSpace {
    width: 40%;
}

.divCenter {
    width: 18%;
    display: inline-block;
}

#titleH1 {
    color: #FFF;
    padding: 20px;
}

#faceImg {
    object-fit: cover;
    max-width: 100%;/*The image will be scaled up to 100% of the width of its container element*/
    margin-bottom: 25px;
    border-radius: 2px;
}
